<div class="row row-cols-md-5  g-2 animated fadeIn fast">
<div class="col" *ngFor="let heroe of listarHeroes; let i=index">

    <div class="card card-photo"  (click)="selectedCard(i)" style="width: 15rem; height: 30rem;">
        <img [src]="heroe.img" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title animated fadeIn">{{heroe.nombre}}</h5>
          <div class="overflow-auto" style="width: 13.8rem; height: 9rem;"> 
            <p class="card-text animated fadeIn">{{heroe.bio}}</p>
            
          </div>
          <br>
          <a class="btn btn-outline-primary btn-block">Ver mas</a>
        </div>
    </div>
  </div>
</div>